@import url('app.css');

/* Layout */

#root {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#sidebar, #sidebar + .resizer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
}

#sidebar + .resizer {
    z-index: 2;
}

#sidebar + .resizer::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background: #ccc;
}

#sidebar + .resizer::before {
    content: '';
    position: absolute;
    top: calc(2em + 10px);
    bottom: 10px;
    right: 0;
    width: 500px;
    border-radius: 10px / 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
    opacity: 0;
    transition: opacity .2s;
    z-index: -1;
}

#sidebar + .resizer.shadow::before {
    opacity: 1;
}

main {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

/* Sidebar */

#sidebar {
    padding-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #F0F0F0;
}

#sidebar h2 {
    color: #555;
    font-size: .8em;
    padding: 5px 10px;
}

#sidebar ol li {
    padding: 2px 10px 2px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#sidebar ol li.selected {
    background: #007ACC;
    color: white;
}

#sidebar ol li img {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
    width: 16px;
    height: 16px;
}

/* TabBar */

.tab-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2em;
    padding: 0 5px;
    overflow: hidden;
    background: linear-gradient(to top, #ccc 1px, transparent 1px) #F0F0F0;
}

.tab-bar ol {
    white-space: nowrap;
}

.tab-bar li {
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    height: 2em;
    width: auto;
    min-width: 70px;
    border: 1px solid transparent;
    border-bottom: none;
    padding: 0 10px 0 10px;
    overflow: hidden;
    line-height: calc(2em - 1px);
    text-overflow: ellipsis;
    white-space: nowrap;
    background-repeat: no-repeat;
    transition: top .2s, left .2s, opacity .2s;
}

.tab-bar li:hover {
    background-color: rgba(0, 0, 0, .08);
}

.tab-bar li:active {
    background-color: rgba(0, 0, 0, .16);
}

.tab-bar li.closing {
    top: 2em;
}

.tab-bar li.add {
    min-width: inherit;
}

.tab-bar li.selected {
    background-color: white;
    border-color: #ccc;
}

.tab-bar li.dragstart {
    opacity: 0;
}

.tab-bar li.indicator {
    background-image: linear-gradient(to right, #007ACC 2px, transparent 2px);
}

.tab-bar li img {
    width: 13px;
    height: 12px;
    padding: 0 2px;
    vertical-align: middle;
    margin-top: -3px;
}

.tab-bar li .close {
    float: right;
    margin-top: calc(1em - 6px);
    margin-left: 10px;
    opacity: 0;
    transition: opacity .2s;
}

.tab-bar li:first-child:nth-last-child(2) .close {
    visibility: hidden;
}

.tab-bar li .close:hover, .tab-bar li .close:active {
    background: #009CEE;
    opacity: 1;
    -webkit-filter: invert(100%);
}

.tab-bar li .close:active { background: #22BEFF; }

.tab-bar li:hover .close, .tab-bar li.selected .close {
    opacity: .8;
}

/* ColumnView */

#column-view-container {
    position: absolute;
    left: 0;
    top: 2em;
    right: 0;
    bottom: 0;
}

.column-view {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.column-view > .placeholder {
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    z-index: -1;
}

/* ListColumn */

.list-column ol {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 0;
}

.list-column ol > .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    z-index: -1;
}

.list-column ol li {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: calc(1.5em + 4px);
    padding: 2px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-column ol li.selected {
    background: #ddd;
}

.list-column.focused ol li.selected {
    background: #007ACC;
    color: white;
}

.list-column ol li img {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
    width: 16px;
    height: 16px;
}

/* Column */

.column {
    display: inline-block;
    position: relative;
    height: 100%;
}

.column input.focus-indicator {
    top: -9999em;
}

.column .resizer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    background: linear-gradient(to left, #ccc 1px, transparent 1px);
    z-index: 1;
}
