@import url('../img/micon/css/micon.min.css');
@import url('app.css');

/* L A Y O U T */

#root {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#sidebar, .gutter-horizontal, main {
    float: left;
    height: 100%;
}

#sidebar {
    background: #eee;
}
