main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.column-view {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-top: 1px solid #ccc;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.column-box {
    display: inline-block;
    position: relative;
    height: 100%;
}

.column-box .resizer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ccc;
    cursor: col-resize;
}

.column-box ol {
    position: absolute;
    top: 0;
    left: 0;
    right: 1px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.column-box li {
        position: absolute;
        left: 0;
        right: 0;
        height: 25px;
        padding: 0 5px;
        line-height: 25px;
    }
    .column-box li.opened {
        background: #5E6770;
        color: white;
    }
    .column-box.focused li.selected {
        background: #007ACC;
        color: white;
    }
    .column-box li.placeholder {
        position: absolute;
        width: 1px;
        left: -1px;
        top: 0;
}

.column-box li img {
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
}

.column-box li span {
    position: absolute;
    left: 26px;
    right: 5px;
    top: 0;
    bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
